@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{    /*Resetando as configurações padrão de qualquer navegador*/
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body{
    background: #1B2029;
    color: #fff;
    font-weight: 500;
    display: flex;
    min-height: 100vh; /*Altura mínima da  página, lembrando que 100vh/100vw significa 100% de altura/largura em relação a viewport, que é o tamanho da tela*/
    min-width: 100vw;
}
main{
    width: 50vw;  /*Quer dizer que ocupara metade da página*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 4 rem;
}

main h1{
    color: #8880FE;
    font-size: 3rem;
    margin-bottom: 3rem;
}
main social-media{
    display: flex;
    align-content: center;
    
}
main .social-media img{
    width: 36px;
    margin-left: 3rem;
}
main .social-media a{
    text-decoration: none;
}
main .social-media a:first-child img{ /*precisava remover a margem da esquerda do google pois não estava alinhando o resto, uma alternativa seria fazer:
    #google{
    margin-left: 0;
    }, Mas a moça do curso fez o seguinte acesso*/
    margin-left: 0;
}
main .alternative{
    margin-top: 1rem;
}
main .alternative span{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255,255,255, 0.3);
    position: relative;
}
main .alternative span:before, main .alternative span:after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: rgba(255,255,255, 0.3);

}
main .alternative span:after{
    left: 50px;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main form label{
    display: flex;
    flex-direction: column;
}
main form label span{
   font-size: 1.1rem;
   margin-top: 2rem;
}

main form input{
    background: #161923;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgba(166,166,166);
    font-size:1rem ;
    border: 1px solid #040B18;
    border-radius: 8px;
}

main form input[type="submit"]{
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background-color: #6C63FF;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out; /* Transição dos eventos, nesse caso o hover*/
}
main form input[type="submit"]:hover{
    background-color: #5952D4;
}
section.images{
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
    
}
section.images img{
    width: 100%;
}
section.images .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #E8CBC0, #636FA4);
    clip-path: circle(40% at right 80%); /*40% tamanho, at right posição, 80% posição no eixo y*/
    z-index: -1; /* eixo z, ele estava sobrepondo as coisas, então lhe inverti para o fundo*/
}

@media  (min-width: 900px)  and (max-width: 1200px){
    section.imagesimg{
        width: 110%;
    }
    section.images .circle {
        clip-path: circle(35% at right 80%);
    }
}
@media  (max-width: 900px) {
    section.images img{
        display: none;
        
    }
    section.images .circle {
        display: none;
        
    }
    main{
        
        flex: 100%;
        justify-content: center;
        align-items: center;
        
    }
    section.images{
        flex: 0;
        padding: 0;
    }
}





